@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
/* @font-face {
  font-family: "Mooli", sans-serif;
  src: url('../fonts/Mooli/Mooli-Regular.ttf');
} */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mooli", sans-serif;
  font-size: 16px;
}
:root {
  --blue: #16a6a7;
  --yellow: #f69d01;
  --pink: #fe4169;
  --navy: #222248;
  --lightnavy: #74748c;
  --lightblue: #565671;
  --black: #000000;
  --white: #ffffff;
  --lightgrey: #afacac;
  --aliceblue: #f0f8ffb9;
  --Offwhite: #7c7c7c22;
  --star_color: #daa520;
  --dimgrey: dimgrey;
  --default_padding: 10px;
}
/*  */
/*  */
/* landing page start */
.container {
  min-width: 320px;
  margin: auto;
  position: relative;
}

body {
  background: var(--aliceblue);
}

.container_child {
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  z-index: 1;
  padding: 0 var(--default_padding);
}
/* general header style */
.landing_header_bg_color {
  width: 100%;
  height: 140px;
  background: var(--navy);
  position: absolute;
  z-index: -1;
}

div.landing header {
  width: 100%;
  height: 140px;
  background: var(--navy);
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

div.landing header i {
  font-size: 25px;
  color: white;
}

div.landing div.dropdown {
  position: relative;
  display: inline-block;
}

div.landing div.dropdown-content {
  display: none;
  position: absolute;
  top: 30px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.cart_icon {
  padding-top: 15px;
}

.dropdown-data {
  padding: 20px 10px;
  font-weight: bold;
  width: 250px;
  display: flex;
  align-items: center;
}
.dropdown-content div.dropdown-data i {
  color: var(--black);
  padding-right: 5px;
}

div.landing div.dropdown:hover .dropdown-content {
  display: block;
}

div.landing div.dropdown:hover .dropdown-content a{
  text-decoration: none;
  color: var(--black);
}

div.landing header section.one {
  display: flex;
  align-items: center;
}
div.landing div.logo {
  height: 60px;
  width: 150px;
}

div.landing div.logo img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}
div.landing header section.two {
  grid-row: 2;
  grid-column: 1/-1;
  display: flex;
}

div.landing header section.two input[type="search"] {
  padding: 16px 0;
  padding-left: 15px;
  padding-right: 10px;
  font-size: 18px;
  border-radius: 15px 0px 0px 15px;
  width: 100%;
  border: none;
  outline: navajowhite;
}
div.landing header section.two button {
  border: none;
  outline: none;
  background: var(--yellow);
  width: 60px;
  padding-right: 6px;
  border-radius: 0px 15px 15px 0px;
}

div.landing header section.two button i {
  color: var(--navy);
  font-size: 20px;
}

div.landing header section.two button p {
  display: none;
}

div.landing header section.three {
  grid-column: 2/-1;
  display: flex;
  justify-content: flex-end;
}

div.landing header section.three i.profile {
  margin-right: 20px;
}

/* general header style */
/*  */
.landing_main {
  margin-top: 10px;
}

.hero_image_slider_container {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.hero_image_slider {
  overflow: hidden;
  position: relative;
}

.hero_image_slider i {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-30%);
  margin: 0 10px;
  padding: 10px;
  border-radius: 50%;
  background: #ffffff7d;
  color: var(--black);
}

.hero_image_slider .forward {
  right: 0;
}

.hero_image_slider figure {
  position: relative;
  width: 500%;
  border-radius: 30px;
  animation: 20s slider infinite;
  border-radius: var(--border-radius);
}

.hero_image_slider figure img {
  width: 20%;
  float: left;
  height: 200px;
  border-radius: 5px;
}

@keyframes slider {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}
/*  */

.categories {
  width: 100%;
  background: var(--white);
  padding: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  grid-row-gap: 20px;
  /* margin-bottom: 20px; */
}

.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.category .img {
  width: 130px;
  height: 130px;
}

.category .img img {
  width: 100%;
  height: 100%;
}
/*  */
/*  */
/* general slider style starts here */
.slide {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 10px;
  background: var(--Offwhite);
  padding: 10px;
}

.slide::-webkit-scrollbar {
  width: 0;
}

.slide .slide_items {
  background: var(--white);
  min-width: 70%;
  height: 250px;
  border-radius: 9px;
}

.scroll_snap {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 10px;
}

.scroll_snap > * {
  scroll-snap-align: start;
}

.slide .image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.slide .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.slide_container {
  background: var(--white);
  width: 100%;
}

.slide_card {
  display: flex;
  border-radius: 10px;
  box-shadow: 0.5px 0.5px 5px var(--black);
}

.slide_card a {
  position: relative;
  display: block;
  width: 200px;
  color: var(--black);
  text-decoration: none;
}

.slide_card .card_image {
  width: 100%;
  height: 60%;
}

.slide_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.section_tag {
  font-weight: 900;
  background: var(--blue);
  color: var(--white);
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.section_tag_left {
  text-align: left;
  padding-left: 15px;
}

.product_remaining {
  color: var(--blue);
}

#groceries {
  background: var(--yellow);
}

#groceries_remaining {
  color: var(--yellow);
}

#gadgets {
  background: var(--pink);
}

#gadgets_remaining {
  color: var(--pink);
}

.card_discount_percent {
  width: 50px;
  height: 50px;
  position: absolute;
  padding: 16px 5px;
  border-radius: 100%;
  right: 5px;
  top: 5px;
  text-align: center;
  background: var(--blue);
  color: var(--default_color);
}

.card_description {
  height: 50px;
  padding: 10px;
}

.card_description h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card_price {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 5px;
}

.card_line_through {
  text-decoration: line-through;
}

/*  */
div.stores {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

#brands .image {
  height: 150px;
  width: 150px;
}

#brands .image img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
}

#brands {
  background-color: var(--white);
  border-radius: 5px;
  /* padding-bottom: 20px; */
}

#brands h1 {
  text-align: center;
  background: var(--lightblue);
  color: var(--white);
  font-size: 30px;
  font-weight: 600;
  padding: 15px;
}

#brands .store-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0;
}

#brands a {
  transition: all 0.6s;
}
#brands a:hover {
  transform: scale(1.07, 1.07);
}
/* landing page end */

/*  */
/* product page style */
.product_main {
  background-color: var(--white);
}

.product_main i {
  color: var(--star_color);
}

.product_main div.image {
  width: 100%;
  height: 300px;
  margin: auto;
}

.product_main div.image img {
  width: 100%;
  height: 100%;
}

.product_main div.text {
  margin: 10px;
}

.product_main div.text p:first-of-type {
  font-size: 25px;
  margin-bottom: 20px;
}

.product_main div.text h1:nth-child(2),
.product_main div.text p:nth-child(3),
.product_main div.text p:nth-child(4) {
  display: inline;
} 

.product_main div.text h1:nth-child(2) {
  margin-right: 15px;
  font-size: 25px;
}

.product_main div.text p:nth-child(3) {
  text-decoration: line-through;
  color: gray;
  margin-right: 10px;
}

.product_main div.text p:nth-child(4) {
  color: red;
}

.product_main div.text p:nth-child(5) {
  color: grey;
}

.product_main div.text svg {
  width: 10px;
  height: 10px;
  fill: goldenrod;
}

.product_main div.text div.buttons {
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto;
}

.product_main div.text div.buttons a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  background-color: var(--navy);
  padding: 7px 30px;
  margin: 3px 0;
  color: white;
  border-radius: 10px;
  transition: all 0.6s;
}

.product_main div.text div.buttons a:hover {
  background-color: var(--yellow);
  color: black;
}

.product_main div.payment h3,
.product_main div.payment div.options {
  margin: 5px 10px;
}

.product_main div.text div.buttons button:hover {
  background-color: var(--yellow);
}


.product_main div.options {
  display: flex;
}

.product_main span.cards {
  display: flex;
  margin-bottom: 10px;
}

.product_main span.cards div.card-img {
  width: 30px;
  
  height: 30px;
}
.product_main span.cards div.card-img img {
  width: 100%;
  height: 100%;
}

table,
td {
  border: 1px solid black;
}

table {
  width: 100%;
  margin: 10px 0;
  border-collapse: collapse;
  text-transform: capitalize;
}

td {
  height: 50px;
  padding-left: 5px;
}

td:first-child {
  font-weight: 900;
}

hr#reviews {
  height: 5px;
  background-color: lightgray;
  border: none;
  width: 100%;
}

.product_main div.reviews header {
  background: none;
  display: flex;
}

.product_main div.reviews header i {
  color: var(--star_color);
  font-size: 2px;
}

.product_main section div.reviews {
  display: flex;
  justify-content: space-between;
}

.product_main div.reviews header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 10px;
  height: 50px;
}

.product_main .product_details {
  margin-bottom: 20px;
}

.product_main section.rv-1,
.product_main section.rv-2,
.product_main section.rv-3,
.product_main section.rv-4 {
  margin: 10px;
  margin-top: 0;
}

.product_main section.rv header {
  display: flex;
  justify-content: space-between;
}

.product_main section.rv p:last-of-type {
  font-size: 14px;
}
.product_main div.desc {
  margin: 10px;
}

/* product page style ends */
/*  */

/* cart page starts */

.cart_main div.products {
  padding: 10px 10px;
}

.cart_main div.image {
  height: 150px;
  width: 150px;
}

.cart_main div.image img {
  height: 100%;
  width: 100%;
}

.cart_main div.product-card {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: red;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cart_main div.product-card .text {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.cart_main div.product-card .text h1 {
  padding-top: 15px;
}

.cart_main div.product-card .text h6 {
  color: green;
  font-size: 10px;
}

.cart_main div.product-card hr {
  grid-column: 1/-1;
  margin-top: 5px;
}

.cart_main div.product-card div.links {
  grid-column: 1/-1;
  padding-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.cart_main div.product-card div.links a {
  color: black;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
  border-radius: 5px;
  height: 50px;
  width: 70%;
  transition: all 0.5s;
}

.cart_main div.product-card div.links a:hover {
  background-color: var(--dimgrey);
  color: var(--white);
}

.cart_main span.cards {
  display: flex;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.cart_main span.cards p {
  margin: auto 2px;
}

.cart_main span.cards div.card-img {
  width: 70px;
  height: 30px;
}

.cart_main span.cards div.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart_main .padlock {
  display: flex;
  justify-content: center;
}

.cart_main .subtotal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart_main .subtotal p:first-of-type {
  font-size: 20px;
  font-weight: bolder;
}

.cart_main div.button {
  padding: 10px;
  margin: 0 10px;
  background-color: var(--white);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.629),
    0 6px 20px 0 rgba(0, 0, 0, 0.291);
  display: flex;
  border-radius: 10px;
  margin-bottom: 10px;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.cart_main div.button form {
  display: flex;
  justify-content: center;
}

.cart_main div.button form button {
  background-color: var(--navy);
  color: white;
  padding: 10px 40px;
  margin-top: 8px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: all 0.5s;
}

.cart_main div.button form button:hover {
  background-color: var(--yellow);
  color: var(--black);
}
/* cart page ends */

/*  */
/* profile page starts */
main.profile a {
  text-decoration: none;
  color: var(--black);
}

main.profile {
  margin: 15px 10px;
  margin-bottom: 40%;
  padding: 20px;
  border-radius: 10px;
  background: var(--white);
}

main.profile .tab {
  display: none;
}

main.profile .overview {
  margin-top: 15px;
}

main.profile .overview .account_details {
  margin-top: 10px;
}
main.profile .overview .account_details div,
main.profile .overview .address div {
  display: grid;
  padding: 20px 0;
  grid-template-columns: repeat(2, 1fr);
}

main.profile .overview .address {
  margin-top: 20px;
}

main.profile .overview h1 {
  font-size: 19px;
  text-decoration: underline;
}
/* profile page end */
/*  */

/*  */
/* Checkout page starts */
main.checkout {
  margin-top: 20px;
}

.checkout .checkout_section_one {
  background-color: var(--white);
  margin: 10px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.checkout .checkout_section_one h1 {
  font-size: 25px;
  margin-bottom: 20px;
}

.checkout .checkout_section_one form {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 20px;
}

.checkout .checkout_section_one form input {
  width: 90%;
  border: none;
  padding: 10px;
  border-bottom: 1px solid var(--black);
  outline: none;
}

.checkout .checkout_section_one .checkout_options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.checkout .checkout_section_one button {
  margin-top: 10px;
  margin-left: 10px;
  background: var(--lightgrey);
  border-radius: 5px;
  padding: 10px;
  width: 80%;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  gap: 5px;
  transition: all 0.4s;
}

.checkout .checkout_section_one button:hover {
  background: var(--dimgrey);
  color: var(--white);
}

.checkout .checkout_section_one button i {
  font-size: 25px;
}

.checkout .checkout_section_two {
  background-color: var(--white);
  height: 320px;
  margin: 10px;
  padding: 10px;
  padding-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.checkout .checkout_section_two h1 {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}

.checkout .checkout_section_two .checkout_order-summary {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.checkout .checkout_section_two .checkout_order-summary p:first-of-type {
  font-weight: bold;
  font-size: 18px;
}

.checkout .checkout_section_two .checkout_total p:last-of-type {
  font-size: 20px;
  font-weight: bolder;
}

.checkout .checkout_section_two .checkout_button {
  margin-top: 10px;
}

.checkout .checkout_section_two .checkout_button button {
  width: 100%;
  padding: 10px 0;
  margin-top: 10px;
  background: var(--navy);
  color: var(--white);
  outline: none;
  border: none;
  border-radius: 5px;
  transition: all 0.5s;
}

.checkout .checkout_section_two .checkout_button button:hover {
  background-color: var(--yellow);
}

/* Checkout page ends */
/*  */

/* order history page starts */
main.profile a:first-of-type p{
  display: none;
}

main.profile .order_history_overview h1{
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-decoration: underline;
}

main.profile .order_history_overview .orders .order_img{
  height: 60px;
  width: 50px;
}

main.profile .order_history_overview .orders .order_img img{
  height: 100%;
  width: 100%;
}

main.profile .order_history_overview .orders .order_details{
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 20px 0;
}

main.profile .order_history_overview .orders .order_details button{
  margin-top: 10px;
  padding: 7px 0;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 80%;
  background: var(--lightgrey);
  grid-column-start: 2;
  transition: all 0.5s;
}

main.profile .order_history_overview .orders .order_details button:hover{
  background: var(--dimgrey);
  color: var(--white);
}

/* order history page ends */
/*  */

/*  */
/*  general  style*/
.footer_container {
  max-width: 1300px;
  margin: auto;
}

.footer_section_one {
  background: var(--black);
  color: var(--white);
  display: none;
}

.footer_section_one .footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.footer_section_one .footer_container > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer_section_one .footer_container p {
  font-size: 10px;
}

.footer_section_one .footer_container i {
  font-size: 25px;
}

.footer_section_two {
  background: var(--navy);
}

.mobile_view {
  text-align: center;
  color: var(--white);
  padding: 10px;
}

.mobile_view .mobile_view_section {
  display: flex;
  justify-content: space-evenly;
  line-height: 2;
  font-size: 12px;
  padding-bottom: 10px;
}

.mobile_view_container > p {
  line-height: 2;
  font-size: 12px;
}

.mobile_view > p {
  border-top: 1px solid var(--white);
  font-size: 10px;
  padding: var(--padding);
  margin-top: 10px;
  color: var(--white);
}

.footer_pc_view {
  display: none;
  padding-bottom: 50px;
}

.pc_view_section_one,
.pc_view_section_two {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  color: var(--white);
  margin-bottom: 10px;
}

.pc_view_section_one h5,
.pc_view_section_two h5 {
  margin: 10px 0px;
  font-size: 15px;
}

.pc_view_section_two i {
  margin-left: 10px;
  font-size: 25px;
}

.subscribe {
  display: flex;
  height: 50px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.subscribe form {
  background: var(--white);
  min-width: 95%;
  height: 40px;
  display: flex;
  border: 1px solid var(--navy);
  border-radius: 5px;
}

.subscribe form input {
  width: 70%;
  border-radius: 0px 50px 50px 0px;
  border: none;
  outline: none;
}
.subscribe form input[type="submit"] {
  width: 100px;
  background: var(--yellow);
  border-radius: 0 3px 3px 0;
  color: var(--black);
  font-weight: bold;
}

.subscribe form i {
  align-self: center;
  padding: 10px;
  color: var(--black);
}

footer {
  position: relative;
}
/* general footer style ends */
/*  */


/*  */
/* auth pages start */
div.auth header .auth-logo {
  display: flex;
  justify-content: center;
}
div.auth header .auth-logo img {
  width: 150px;
  object-fit: cover;
}

div.auth main .links a {
  text-decoration: none;
  color: var(--navy);
}

div.auth main div.sign-up_container .links a:last-of-type {
  border-bottom: 2px solid var(--blue);
}

div.auth main div.login_container .links a:first-of-type {
  border-bottom: 2px solid var(--blue);
}

div.auth main .links {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 0 30px;
}

div.auth h1 {
  color: var(--navy);
  font-size: 30px;
  text-decoration: underline var(--blue);
}

div.reset-password_container {
  margin-top: 40px;
}

div.auth label {
  margin-left: 19px;
  color: var(--navy);
}

div.auth label[for="save"] {
  color: var(--black);
  margin-left: 0px;
}

div.auth input,
div.auth button {
  width: 90%;
  padding: 9px 7px;
  margin: 10px 0;
  margin-left: 17px;
  border-radius: 4px;
  border: 1px solid var(--lightblue);
  outline: none;
}

div.auth input:focus {
  background: var(--aliceblue);
}

div.auth input[type="checkbox"] {
  width: auto;
}

div.auth button {
  background-color: var(--navy);
  color: var(--white);
  text-align: center;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  transition: all 0.7s;
}

div.auth button:hover {
  background-color: var(--yellow);
}

div.auth main a#forgot-password {
  text-decoration: underline;
  padding-left: 19px;
  color: var(--navy);
  border-radius: 5px;
}

div.auth main div.terms {
  margin-left: 19px;
  width: 90%;
}

div.auth main div.login_container div.sign-up,
div.auth main div.sign-up_container div.login {
  text-align: center;
  display: none;
  margin-top: 10px;
}

div.auth main div.login_container div.sign-up a,
div.auth main div.sign-up_container div.login a {
  color: var(--navy);
}

div.auth footer {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-content: center;
  color: grey;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* left: 30vw; */
}
/* auth pages end */
/*  */
/*  */


@media screen and (min-width: 460px) {
  .hero_image_slider figure img {
    height: 300px;
  }
}


/*  */
/*  */


@media screen and (min-width: 700px) {
  /* landing page style start */
  .landing_header_bg_color {
    height: 100px;
  }

  div.landing header {
    height: 100px;
    grid-template-rows: 1fr;
  }

  div.landing header {
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-between;
  }

  div.landing header section.two {
    grid-row: 1/2;
    grid-column: 2;
  }

  div.landing header section.three {
    grid-column: 3/-1;
  }

  .hero_image_slider figure img {
    height: 400px;
  }

  .categories {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .category .img {
    width: 200px;
    height: 200px;
  }
  /* landing page style ends */
  /*  */

  /*  order history starts*/
  main.profile a:first-of-type{
    display: flex;
  }

  main.profile a:first-of-type p{
    display: block;
    margin-left: 10px;
  }

  main.profile .order_history .tab  {
    display: block;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.629),
      0 6px 20px 0 rgba(0, 0, 0, 0.291);
  }
  main.profile .order_history .tab a{
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
  }

  section.order_history {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  /* order history starts */
  /*  */

  /* product page starts*/
  main section.product {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  div#rvs {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  section.rv-2 hr {
    display: none;
  }
  /* product page style ends */
  /*  */
}
/*  */

@media screen and (min-width: 760px) {
  /* general footer style for media query begins here */
  .footer_section_one {
    display: block;
  }

  .mobile_view {
    display: none;
  }

  .footer_pc_view {
    display: block;
    padding: 50px 20px;
  }
  /* general footer style for media query ends here */
}

/* landing page end */
/*  */
/*  */


/*  */
@media screen and (min-width: 800px) {
  .cart_main .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .cart_main div.button {
    position: sticky;
    top: 0;
    margin-top: 10px;
    padding: 0 15px;
    padding-top: 20px;
    height: 13%;
    justify-content: start;
    margin-bottom: 0;
  }
  .cart_main div.button form button {
    margin-top: 20px;
  }
  /* profile page starts */
  main.profile {
    margin-bottom: 2%;
  }
  /* profile page ends */
}
/*  */

@media screen and (min-width: 1000px) {
  body {
    background-color: aliceblue;
    overflow-x: hidden;
  }
  /* landing page start */
  div.landing header section.two button {
    width: 100px;
  }
  div.landing header section.two button i {
    display: none;
  }
  div.landing header section.two button p {
    display: block;
    font-size: 20px;
    color: var(--black);
    font-weight: bolder;
  }
  .hero_image_slider figure img {
    height: 500px;
  }
    /* landing page end */

  /* product page style */
  .product_main div.image {
    width: 400px;
    height: 300px;
    margin: auto;
  }
 
  section div.image {
    width: 420px;
    height: 400px;
  }
  div.image {
    justify-self: center;
  }
  div.items div.img-card div.discount p {
    font-size: initial;
    padding: initial;
  }
  /* product page style ends */
  /*  */

  /*  */
  /* checkout page starts */
  main.checkout {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .checkout .checkout_section_one form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .checkout .checkout_section_one .checkout_options {
    flex-direction: row;
  }
  /* checkout page ends */
  /*  */
  /*  */
  /* profile page starts */
  main.profile .tab {
    display: block;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.629),
      0 6px 20px 0 rgba(0, 0, 0, 0.291);
  }
  main.profile div.tab a {
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
  }
  section.profile_details {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  /* profile page ends */
  /*  */

  /* general footer style */
  .footer_section_one {
    background: var(--black);
    color: var(--white);
  }
  
  .footer_section_one .footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .footer_section_one .footer_container > div {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .footer_section_one .footer_container p {
    font-size: 10px;
  }

  .footer_section_one .footer_container i {
    font-size: 25px;
  }

  .footer_section_two {
    background: var(--navy);
  }

  .footer_wrapper {
    /* display: none; */
    padding-bottom: 50px;
  }

  .footer_wrapper-child_one,
  .footer_wrapper-child_two {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    color: var(--white);
    margin-bottom: 10px;
  }

  .footer_wrapper-child_one h5,
  .footer_wrapper-child_two h5 {
    margin: 10px 0px;
    font-size: 15px;
  }
  .footer_wrapper-child_two i {
    margin-left: 10px;
    font-size: 25px;
  }

  .subscribe {
    display: flex;
    height: 50px;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .subscribe form {
    background: var(--white);
    min-width: 95%;
    height: 40px;
    display: flex;
    border: 1px solid var(--navy);
    border-radius: 5px;
  }

  .subscribe form input {
    width: 70%;
    border-radius: 0px 50px 50px 0px;
    border: none;
    outline: none;
  }

  footer {
    position: relative;
  }

  /* general footer style */
  /*  */
  /* auth pages styles */
  div.auth main {
    width: 40%;
    margin: auto;
    margin-top: 100px;
  }
  div.auth main div.login_container .links a:last-of-type,
  div.auth main div.sign-up_container .links a:first-of-type {
    display: none;
  }

  div.auth main div.login_container .links a:first-of-type,
  div.auth main div.sign-up_container .links a:last-of-type {
    font-size: 25px;
  }

  div.auth main .links {
    justify-content: start;
    padding: 0px;
    padding-bottom: 20px;
    margin: 0px;
  }

  div.auth main div.form {
    border: 3px solid transparent;
    border-radius: 5px;
    padding: 10px 10px;
    padding-top: 20px;
    background-color: var(--Offwhite);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  div.auth main div.login_container div.sign-up,
  div.auth main div.sign-up_container div.login {
    display: block;
    margin-top: 30px;
  }
  /* auth pages styles end */

}
/*  */
@media screen and (min-width: 1050px) {
  div.auth input {
    border-radius: 5px;
    padding: 12px 10px;
  }
  div.auth main {
    width: 40%;
    margin: auto;
    margin-top: 100px;
  }
}
